<div class = "card-body container">
  <div class = "jumbotron">
    <div class="col-5 mt-4  ">
      <div class="card text-center shadow mb-5  bg-white rounded">

        <h2 class = "main-text">About page </h2>
    <p>I'm glad you're here, this is a mini blog page.<br>
     What can you do on this page?<br>
You can to create, edit, delete your personal account,also
you can to write a post with a title, edit or delete it.
You can do all this from this page and also from the avo admin panel</p>

   <p class= "card=body"> <%=link_to 'Back to home page', root_path, class: "btn btn-dark" %></p>
      </div>
    </div>
  </div>
</div>