<h1 class="text-center">Welcome!</h1><br>

<%=link_to "Avo Admin panel", avo_path , class:"btn btn-dark"%>
<%=link_to "Posts", posts_path , class:"btn btn-dark"%>
<%=link_to "New post", new_post_path , class:"btn btn-dark"%>


